.about {
    background: #F8FBFA;
    &__inner {
      padding-bottom: 53px;
    }
  
    &__descrpt-container {
      padding: 33px 17px 0px 17px;
    }
  
    &__title {
      @include  bold-font;
      font-size: 26px;
      line-height: 34px;
      color: #364844;
    }
  
    &__text {
      margin-top: 9px;
      @include  normal-font;
      font-size: 14px;
      line-height: 150%;
      color: #364844;
    }
  
    &__img {
      width: 100%;
    }
  }
  
  @media (min-width: 1440px) {
  
    .about {
      overflow: hidden;
      &__container {
        max-width: 1140px;
        min-height: 532px;
        margin: 0 auto;
      }
  
      &__inner {
        position: relative;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
      }
  
      &__picture {
        position: absolute;
        right: -390px;
      }
  
      &__descrpt-container {
        padding: 145px 0 0 0;
  
      }
    
      &__title {
        max-width: 416px;
        @include  bold-font;
        font-size: 36px;
        line-height: 47px;
        color: #364844;
      }
    
      &__text {
        max-width: 367px;
        margin-top: 14px;
        @include  normal-font;
        font-size: 16px;
        line-height: 150%;
        color: #364844;
      }
    }
  }