
@mixin normal-font() {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
}

%normal-font {
    @include normal-font;
}

@mixin bold-font {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
}

%bold-font{
    @include bold-font;
}

@mixin standart-btn {
    @include normal-font;
    height: 43px;
    text-align: center;
    border-radius: 50px;
}

@mixin standart-btn-active {
    background-color: #00D29F;
    transition: all 0.3s;
}

@mixin arrow-slider-active {
    cursor: pointer;
    filter: invert(41%) sepia(79%) saturate(3415%) hue-rotate(133deg) brightness(113%) contrast(90%);
    transition: all 0.4s;
}


